<ion-content>

	
		
	


   <ion-card class="titlecard">
      <ion-row class="titlerow">
          <ion-col col-8>
             <h4 class="titletext">Latest Videos</h4>
          </ion-col>
          <ion-col col-4 class="viewall">
              <h6 class="titletext">view All   ></h6>
          </ion-col>
      </ion-row>
   </ion-card>
 
   
      <ion-row class="scroll-item">
        <ion-col col-8 *ngFor="let item of posts ">
             <ion-card class="videocard" >
             	<!-- <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
				   <source src="item.id.videoId | youtube" width="192" height="80" type="video/mp4" />
				  </video> -->
               <iframe [src]="item.id.videoId | video"  width="192" height="80" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
                <h6 class="videotitle">"{{item.snippet.title}}"</h6>
             </ion-card>
        </ion-col> 
    </ion-row>

    <br><br><br>

      <ion-card class="titlecard card2">
         <ion-row class="titlerow">
            <ion-col col-8>
               <h4 class="titletext">Latest Articals </h4>
            </ion-col>
             <ion-col col-4 class="viewall">
                <h6 class="titletext">view All   ></h6>
            </ion-col>
          </ion-row>
      </ion-card>
     
     
         <ion-row class="scroll-item  carditem">
             <ion-col col-8 *ngFor="let item of posts ">
                <ion-card class="videocard card3" >
                    
                    <img [src]="item.snippet.thumbnails.default.url"/>
                    <h6 class="videotitle">"{{item.snippet.title}}"</h6>
                 </ion-card>
             </ion-col> 
         </ion-row>
       
        <br><br>

        <ion-card class="titlecard card4">
           <ion-row class="titlerow">
              <ion-col col-8>
                 <h4 class="titletext">Latest Tweet </h4>
              </ion-col>
              <ion-col col-4 class="viewall">
                 <h6 class="titletext">view All   ></h6>
              </ion-col>
            </ion-row>
          </ion-card>

              <div class="twitterdiv"><img src="assets/imgs/twitter_symbl.png"></div>

   <ion-card class="twittercard">
     <ion-row>
         <ion-col col-6 class="twittertimecol">
           <p class="twittertext">14 hours ago</p>
         </ion-col>
     
         <ion-col col-6 class="twitternamecol">
            <p class="twittertext">@satyam nvv</p>
         </ion-col>
     </ion-row>
     <ion-row>
        <ion-col class="contenttext">
            <p class="twittercontent"> As human iterect fres and human longing intencifies like never before. the need & time to make these tools available to every human being has come -$g <a href="https://www.youtube.com">Lco/2lgZ4Rlsre#freesadhgurudownloads</a></p>
        </ion-col>
      </ion-row>
        <hr class="headline">

         <img src="assets/imgs/satyam_img.jpg" class="twitterstyamimg">
    </ion-card>
 
  </ion-content>